@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
